header {
	background-image: linear-gradient(#003366, #006699);
	padding-top:2em;
	color:white;
}

nav {
	border-top:1px solid red;
	border-bottom:1px solid red;
}

.navbar-brand {
	font-family:'Russo One', sans-serif;
	text-decoration:underline;
	color:#006699;
}

main {
	min-height:400px;
	background-image: linear-gradient(#006699, #003366);
	color:white;
}

footer {
	background-image: linear-gradient(#003366, #006699);
	color:white;
	min-height:400px;
	
}


h1 {
	font-family:'Russo One', sans-serif;
	font-size:4em;
	text-decoration:underline;
}

.card {
	color:black;
}

a {color:#91DDF0;
	text-decoration:none;
}

a:hover {
	color: #F79D9D;
}

.btn-outline-red {
	margin:.4em;
	background-color:white;
	border:1px solid red;
	color:#3B3D5E;
}

.btn-outline-red:hover{
	color:white;
	background-color:red;
}

.top_btn {
	width:100%;
}

.selectable_item_image {
	max-height:80px;
}

table {
	
	width:100%;
}

.listing_table {
	color:white;
}

tr {
	border:1px solid white;
}

th {
	font-weight:bold;
	padding:.6em;
}

td {
	padding:.6em;
}

.centered {
	width:100%;
	text-align:center;
}


