footer {
	background-color:#3B3D5E;
	color:white;
	min-height:400px;
}

header {
	background-color:#3B3D5E;
	color:white;
	
}

nav {
	border-top:1px solid red;
	border-bottom:1px solid red;
}

main {
	min-height:400px;
	background-color:#3B3D5E;
	color:white;
}

h1 {
	font-family:'Russo One', sans-serif;
	font-size:4em;
	text-decoration:underline;
}

.card {
	color:black;
}

a {
	text-decoration:none;
}

.btn-outline-red {
	background-color:white;
	border:1px solid red;
	color:#3B3D5E;
}

.btn-outline-red:hover{
	color:white;
	background-color:red;
}




